span {
	color: Forestgreen;
	font-weight: bold;
}

.h4 {
	color: Darkslategray;
	margin: 20px;
}

div {
	background-color: honeydew;
	margin: 20px;
}

li {
	padding: 8px;
	font-size: 17px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: FloralWhite;
}

a:hover{
	color: red;
}
footer {
		 position: relative;
 		 bottom: 0;
 		 width: 100%;
}

#hr-bottom {
	  display: block;
	  margin-top: 5em;
	  margin-bottom: 1.5em;
	  margin-left: auto;
	  margin-right: auto;
	  border-style: inset;
	  border-width: 1px;
}


/* Media */
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

@media print {
	.screen-only {
		display: none;
	}
}