body {
	background-color: FloralWhite;
	
}
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 19px;
	color: teal;
}

p::selection{
	 	color: black;
	 	background-color: gray;
}

div {
	margin: 50px;

}

table {
	border: 1px dashed black;
	border-collapse: collapse;
}

span {
	color: firebrick;
}

h1 {
	text-align: center;
	color: forestgreen;
}

th ,h3, h2 {
	color: Darkslategray;
}
a {
	color: lndigo;
}
a:hover {
	background-color: gainsboro;
	color: lightseagreen;
}

footer {
		 position: relative;
 		 bottom: 0;
 		 width: 100%;
}

#hr-bottom {
	  display: block;
	  margin-top: 10em;
	  margin-bottom: 0em;
	  margin-left: auto;
	  margin-right: auto;
	  border-style: inset;
	  border-width: 1px;
}