table {
	width: 50%;
	margin-left: auto; 
	margin-right: auto;
	margin-bottom: auto;
	margin-top: 8%;
	border-collapse: separate;
	border: 1px solid lightblue;
	text-align: center;
	font-size: 20px;
	background-color: honeydew;
}
th {
	border-color: lightblue;
	background-color: ghostwhite;
}
body {
	background-color: FloralWhite;
	}
footer {
		 position: relative;
 		 bottom: 0;
 		 width: 100%;
 		 
		
}
#hr-bottom {
	  display: block;
	  margin-top: 10em;
	  margin-bottom: 0em;
	  margin-left: auto;
	  margin-right: auto;
	  border-style: inset;
	  border-width: 1px;
}